<div class="form-style-10">
  <h1 [hidden]="submitted || created">Registrácia čítateľa v knižnici</h1>
  <h1 [hidden]="!submitted || created">Sumarizácia</h1>
  <h1 [hidden]="!created">Ďakujeme!</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" [hidden]="personal_identification_number.errors?.PINInvalid || created">

    <div class="section"><span>1</span>Osobné údaje</div>
    <div class="inner-wrap">
      <label>Meno:<span class="required">*</span><input type="text" formControlName="name">
        <div *ngIf="name.invalid && name.touched" class="required">
          <div *ngIf = "name.errors?.required">Meno nemôže byť prázdne!</div>
        </div>
      </label>
      <label>Priezvisko:<span class="required">*</span><input type="text" formControlName="surname">
        <div *ngIf="surname.invalid && surname.touched" class="required">
          <div *ngIf = "surname.errors?.required">Priezvisko nemôže byť prázdne!</div>
        </div>
      </label>
      <label>Dátum narodenia:<span class="required">*</span><input type="date" formControlName="date_of_birth">
        <div *ngIf="date_of_birth.invalid && date_of_birth.touched" class="required">
          <div *ngIf = "date_of_birth.errors?.required">Musíte zadať dátum narodenia!</div>
        </div>
      </label>
      <label>Rodné číslo:<span class="required">*</span><input type="text" formControlName="personal_identification_number">
        <div *ngIf="personal_identification_number.invalid && personal_identification_number.touched" class="required">
          <div *ngIf = "personal_identification_number.errors">Rodné číslo musí mať 9 alebo 10 číslic!</div>
        </div>
      </label>
      <label>Som:<span class="required">*</span>
        <select (change)="changeType($event)" formControlName="type">
          <option value="" disabled></option>
          <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
        </select>
        <span [hidden]="submitted"> Slúži pre výpočet členského poplatku</span>
      </label>
      <div *ngIf="selectedType == '2: Študent(držiteľ ISIC karty)'">
        <label>Číslo ISIC karty:<span class="required">*</span><input type="text" formControlName="isic_number">
          <div *ngIf="isic_number.invalid && isic_number.touched" class="required">
            <div *ngIf = "isic_number.errors?.required">ISIC číslo musí byť zadané!</div>
            <div *ngIf = "isic_number.errors?.isicInvalid">Neplatný ISIC!</div>
          </div>
        </label>
      </div>
      <label>Fotografia:<span class="required">*</span><br>
        <img class="images" [src]="imgURL" alt="photo" height="150" [hidden]="!uploaded"/>
        <br [hidden]="!uploaded">
        <button type="button" (click)="fileInput.click()" [hidden]="submitted">
          Vyberte fotografiu
          <input #fileInput formControlName="photo" type="file" (change)="fileChange($event)" style="display:none;" accept=".jpg,.jpeg,.png"/>
        </button>
        <br>
        <span [hidden]="submitted">Nahrávajte fotografie do veľkosti 10MB, formát .jpg, .jpeg, .png.</span>
        <div *ngIf="photo.invalid && photo.touched" class="required">
          <div *ngIf = "photo.errors?.required">Musíte nahrať fotografiu!</div>
        </div>
      </label>
    </div>

    <div formGroupName="address">
      <div class="section"><span>2</span>Adresa</div>
      <div class="inner-wrap">
        <label>Ulica:
          <input type="text" formControlName="street">
        </label>
        <label>Číslo:
          <span class="required">*</span><input type="text" formControlName="number">
          <div *ngIf="number.invalid && number.touched" class="required">
            <div *ngIf = "number.errors?.required">Číslo nemôže byť prázdne!</div>
          </div>
        </label>
        <label>PSČ:
          <span class="required">*</span><input type="text" formControlName="zip">
          <div *ngIf="zip.invalid && zip.touched" class="required">
            <div *ngIf = "zip.errors?.required">PSČ nemôže byť prázdne!</div>
            <div *ngIf = "zip.errors?.pattern">PSČ zadávajte bez medzery(5 čísel)!</div>
          </div>
        </label>
        <label>Mesto:
          <span class="required">*</span><input type="text" formControlName="city">
          <div *ngIf="city.invalid && city.touched" class="required">
            <div *ngIf = "city.errors?.required">Mesto nemôže byť prázdne!</div>
          </div>
        </label>
      </div>
    </div>

    <div class="section"><span>3</span>Kontaktné údaje</div>
    <div class="inner-wrap">
      <label>E-mail:
        <span class="required">*</span><input type="text" formControlName="email">
        <div *ngIf="email.invalid && email.touched" class="required">
          <div *ngIf = "email.errors?.required">E-mail nemôže byť prázdny!</div>
          <div *ngIf = "email.errors?.emailInvalid">Nesprávny formát!</div>
        </div>
      </label>
      <label>Telefón:
        <input type="text" formControlName="phone">
        <div *ngIf="phone.errors?.phoneInvalid && phone.touched" class="required">Nesprávny formát!</div>
      </label>
    </div>

    <div [hidden]="!submitted">
      <div class="section"><span>4</span>Členský poplatok</div>
      <div class="inner-wrap">
        <label>Vygenerovaný poplatok - po {{generatedFee.percentage}}% zľave:
          <input type="number" value="{{generatedFee.amount | number:'1.2-2'}}" formControlName="fee">
        </label>
      </div>
    </div>

    <div class="inner-wrap">
      <div [hidden]="!submitted">
        <span class="privacy-policy"><input type="checkbox" formControlName="accept"><span class="required">*</span>Súhlasím so zaplatením poplatku</span><br>
        <span class="privacy-policy"><input type="checkbox" formControlName="consent"><span class="required">*</span>Súhlasím s podmienkami používania</span>
      </div>
      <div class="button-section">
        <button type="submit" [hidden]="submitted">Odoslať</button>
        <button type="button" [hidden]="!submitted" [disabled] = "!registrationForm.valid" (click)="sendToBackend()" style="position: relative">Potvrdiť registráciu</button>
        <button type="button" [hidden]="!submitted" (click)="backToEdit()" style="position: relative; margin-left: 35%">Editovať registráciu</button>
      </div>
    </div>
  </form>
  <div *ngIf = "personal_identification_number.errors?.PINInvalid">
    <span class="required">Čitateľ s rodným číslom {{personal_identification_number.value}} je už registrovaný!</span>
    <div class="button-section">
      <button type="button" (click)="redirectToHP()">Spät na hlavnú stránku</button>
    </div>
  </div>
  <div [hidden]="!created">
    Vaša registrácia bola úspešná a na váš e-mail {{email.value}} boli odoslané ďalšie pokyny.
    <div class="button-section">
      <button type="button" (click)="redirectToHP()">Spät na hlavnú stránku</button>
    </div>
  </div>
</div>
