/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  color: #337ab7;
  font-family: 'Roboto Light', cursive;
  font-size: 48px;
  text-align: left;
  line-height: 90px;
}
h2 {
  font-family: 'Roboto Light', cursive;
  font-size: 32px;
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.list {
  padding: 20px;
}
.col-0-3 {
  width: 33%;
}
.col-0-4 {
  width: 30%;
}
.col-4-4 {
  width: 10%;
}
.module {
  padding: 20px;
  text-align: justify;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 4px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
  display: block;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
  display: block;
}
.search {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
